Splitting the injury_data.csv dataset into training (80%) and testing (20%) sets so the model can learn from one part and be evaluated on unseen data.

In [1]:
import pandas as pd

In [2]:
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv('injury_data.csv', encoding='latin-1')

In [4]:
df.head()

,Player_Age,Player_Weight,Player_Height,Previous_Injuries,Training_Intensity,Recovery_Time,Likelihood_of_Injury
0,24,66.251933,175.732429,1,0.457929,5,0
1,37,70.996271,174.581650,0,0.226522,6,1
2,32,80.093781,186.329618,0,0.613970,2,1
3,28,87.473271,175.504240,1,0.252858,4,1
4,25,84.659220,190.175012,0,0.577632,1,1

In [5]:
# Features (independent variables)
X = df.drop(columns=['Likelihood_of_Injury'])

In [6]:
X.head()

,Player_Age,Player_Weight,Player_Height,Previous_Injuries,Training_Intensity,Recovery_Time
0,24,66.251933,175.732429,1,0.457929,5
1,37,70.996271,174.581650,0,0.226522,6
2,32,80.093781,186.329618,0,0.613970,2
3,28,87.473271,175.504240,1,0.252858,4
4,25,84.659220,190.175012,0,0.577632,1

In [7]:
# Target (dependent variable)
y = df['Likelihood_of_Injury']

In [8]:
y.head()

0    0
1    1
2    1
3    1
4    1
Name: Likelihood_of_Injury, dtype: int64

In [9]:
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1,  test_size=0.2)

In [10]:
# Seeing accuracy of test data
y_test.head()

507    1
818    0
452    0
368    0
242    0
Name: Likelihood_of_Injury, dtype: int64