In [21]:
import pandas as pd
from nba_api.stats.static import players
import matplotlib.pyplot as plt
import numpy as np

In [3]:
snapshot = pd.read_csv('./data/201601020CHO/frame.csv')
snapshot

,team_id,player_id,x_loc,y_loc,radius,game_clock,shot_clock,quarter,game_id,event_id
0,-1,-1,23.42540,45.12734,3.64299,711.26,11.99,1,1451695252003,1
1,1610612761,2449,19.08811,13.91147,0.00000,711.26,11.99,1,1451695252003,1
2,1610612761,201960,10.11935,13.54703,0.00000,711.26,11.99,1,1451695252003,1
3,1610612761,200768,20.81838,44.51006,0.00000,711.26,11.99,1,1451695252003,1
4,1610612761,201942,14.16535,38.79570,0.00000,711.26,11.99,1,1451695252003,1
5,1610612761,202685,20.89057,34.20938,0.00000,711.26,11.99,1,1451695252003,1
6,1610612766,101107,13.30744,22.19981,0.00000,711.26,11.99,1,1451695252003,1
7,1610612766,201587,9.14040,18.58649,0.00000,711.26,11.99,1,1451695252003,1
8,1610612766,202689,19.31103,42.47285,0.00000,711.26,11.99,1,1451695252003,1
9,1610612766,203469,16.44724,32.53167,0.00000,711.26,11.99,1,1451695252003,1
10,1610612766,203798,15.49183,37.70220,0.00000,711.26,11.99,1,1451695252003,1

In [24]:
okc = []

In [ ]:
np.random.seed(19601)


fig, ax = plt.subplots()
for color in ['tab:blue', 'tab:orange', 'tab:green']:
    n = 750
    x, y = np.random.rand(2, n)
    scale = 200.0 * np.random.rand(n)
    ax.scatter(x, y, c=color, s=scale, label=color,
               alpha=0.3, edgecolors='none')

ax.legend()
ax.grid(True)

plt.show()